// partials

.c__fw-text {
    padding-top: 75px;
    padding-bottom: 175px;
}

.c__lesdagen {
    padding-top: 60px;
    margin-bottom: -40px;

    .dag {
        border-radius: 40px;
        width: 90px;
        margin-right: 3px;
        margin-bottom: 8px;
        padding: 8px 16px;
        border: 1px solid #000000;
        cursor: pointer;

        span {
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
        }

        span.year {
            font-size: 10px;
            font-weight: 500;
        }
    }

    .dag.activeDay {
        background: $green-light;
    }
}

.inschrijf_module {
    padding-bottom: 75px;
    margin-top: -100px;
    .fw__title-banner {
        position: relative;
        height: 133px;
        background: $bg-yellow;
        text-align: center;

        .svg-circle {
            position: absolute;
            bottom: -28px;
            margin: 0 auto;
            z-index: 1;
            left: 0;
            right: 0;
        }

        h1 {
            font-size: 40px;
            color: #000;
            margin-top: 0;
            margin-bottom: 8px;
        }

        span {
            font-size: 20px;
            font-weight: 300;
            color: #000;
        }
    }
}

.c__lesson-row.archive-lesson-row {
    padding-bottom: 200px;
}
