.les__hero {
    width: 100%;

    .hero-img {
        width: 100%;
        height: 288px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero__banner {
        position: relative;
        height: 100%;
        background: $bg-yellow;
        padding-top: 40px;
        padding-bottom: 64px;

        .svg-circle {
            position: absolute;
            bottom: -28px;
            margin: 0 auto;
            z-index: 1;
            left: 0;
            right: 0;
        }

        h1 {
            font-size: 40px;
            color: #000;
            margin-top: 0;
            margin-bottom: 8px;
        }

        span {
            font-size: 20px;
            font-weight: 300;
            color: #000;
        }
    }
}

.c__pratical-info {
    margin-bottom: 75px;

    .img__practical-info {
        width: 50%;

        img {
            width: 100%;
            height: 468px;
            object-fit: cover;
        }
    }

    .info__practical-info {
        width: 50%;
        height: 468px;
        background: $green;
        padding: 50px 100px;

        h3 {
            color: #fff;
            font-size: 26px;
            font-weight: 700;
        }

        .info__row {
            width: 100%;
            max-width: 462px;
            margin-bottom: 16px;

            span.info-30 {
                width: 35%;
            }

            span.info-70 {
                width: 65%;
            }

            span {
                color: #fff;
                font-size: 20px;
                font-weight: 300;
            }
        }

        .btn__def {
            margin-top: 30px;
        }
    }
}

.gfield_quantity,
.gfield_product_1_2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.gform_button.button {
    font-family: Montserrat;
    padding: 18px 60px !important;
    background: #d6eae1;
    border-radius: 40px;
    color: #313131;
    display: inline-block;
    text-decoration: none;
    border: none;
    font-size: 16px;
}

.gform_wrapper
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
    font-family: "Montserrat";
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background: rgba(214, 234, 225, 0.5);
}

.gform_wrapper label.gfield_label,
.gform_wrapper legend.gfield_label,
.gform_wrapper label.gfield_label,
.gform_wrapper legend.gfield_label {
    font-family: Montserrat;
    font-weight: 300 !important;
}

.ginput_container_textarea textarea {
    font-family: "Montserrat";
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background: rgba(214, 234, 225, 0.5);
}

// Blog

.container__post-single {
    padding-bottom: 100px;

    .container___post-header {
        width: 100%;
        height: 360px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container__post-footer {
        padding-top: 26px;

        .user__pic {
            width: 75px;
            height: 75px;
            border-radius: 100%;
            margin-right: 26px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
            }
        }

        .user__info {
            h5 {
                margin: 0;
                margin-bottom: 2px;
                font-size: 18px;
            }
        }
    }
}

.container__posts-title {
    padding-bottom: 40px;
    padding-top: 15px;
    position: relative;

    &::after {
        position: absolute;
        z-index: 0;
        content: "";
        background: $bg-yellow;
        width: 100%;
        height: 270px;
        top: 0;
        right: 0;
        left: 0;
    }

    h1 {
        position: relative;
        margin-bottom: 0;
        z-index: 2;
        text-align: center;
    }
}

.container__posts {
    padding-bottom: 100px;
    position: relative;
    z-index: 2;

    .post__item {
        width: calc(100% / 3 - 15px);
        margin-right: 22.5px;
        margin-bottom: 30px;
        text-decoration: none;

        .thumb {
            width: 100%;
            height: 320px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .info {
            flex-grow: 2;
        }

        h2 {
            color: #313131;
            font-weight: 600;
            font-size: 14px;
            margin-top: 12px;
            margin-bottom: 8px;
        }

        p {
            font-size: 12px;
            flex-grow: 2;
        }

        .btn__text-link {
            font-size: 14px;
        }
    }

    .post__item:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    .container__posts {
        .post__item {
            width: calc(100% / 3 - 15px);
            margin-right: 22.5px;
            margin-bottom: 30px;
            text-decoration: none;

            .thumb {
                width: 100%;
                height: 240px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container__posts {
        .post__item {
            width: calc(100% / 2 - 15px);
            margin-right: 30px;
            margin-bottom: 30px;
            text-decoration: none;

            .thumb {
                width: 100%;
                height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .post__item:nth-child(3n) {
            margin-right: 30px;
        }

        .post__item:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 650px) {
    .container__posts {
        .post__item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            text-decoration: none;

            .thumb {
                width: 100%;
                height: 320px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .post__item:nth-child(3n) {
            margin-right: 0;
        }

        .post__item:nth-child(2n) {
            margin-right: 0;
        }
    }
}
