.boxed__m {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.boxed__s {
    max-width: 780px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

* {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.f__reenie {
    font-family: 'Reenie Beanie';
}

h2 {
    font-size: 40px;
}