main {
    overflow: hidden;
}

.boxed__m {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.boxed__s {
    max-width: 780px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

* {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #000;
}


.f__reenie {
    font-family: 'Reenie Beanie';
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.5;
    margin-bottom: 16px;
}

h3.f__reenie {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

strong {
    font-weight: 600;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}